<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- SCRIPT IF WE ADD CONFIRM PASSWORD FUNTIONALITY -->
    <!-- <script defer src="/js/password-script.js"></script> -->
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>     
    </header>
    <main>
        <h2>New Person</h2>
        <form class="show-form users-bg" action="/people" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <!-- <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" /> -->
            <span id="message"></span>
            <label for="about">About</label>
            <textarea name="about" id="about"></textarea>
            <input id="register-btn" type="submit" value="Register" />
        </form>
    </main>
</body>
</html>