<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
      <p class="landing">Welcome to the internet's newest site devoted to intoxicating world of cocktails. Explore our database by recipe, by ingredient, or by contributor.</p>
      <p class="landing">Forking Cocktails isn't just for looking up a recipe. A registered user can contribute to our database as well as look around. Add ingredients and cocktails for others to enjoy. Once logged in, you can also edit or delete your previous entries.</p>
      <p class="landing">Finally, you might be familiar with the tech term "fork" -- it's used to describe the action of using someone else's code as the starting point for y our own project. In restaurants and bars, we often talk about a cocktail being a "riff"  or "spin" off an existing (and often well-known) drink.</p>
      <p class="landing">In addition to creating and editing your own cocktails, registered users can fork any cocktail on the site. Whether it's your own recipe or someone else's, you can use that recipe as a starting point for your new creation. The database automatically keeps track of forked cocktail's geneology, both parents and children. </p>
    </main>
</body>
</html>