<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <p>
            I'm baby tacos +1 actually polaroid, VHS franzen synth organic trust fund blog fashion axe ugh. Prism hot chicken post-ironic keytar, brooklyn craft beer air plant fingerstache street art humblebrag yuccie affogato truffaut selvage cliche. Coloring book pour-over prism, succulents etsy skateboard tumblr pabst subway tile celiac artisan. Locavore helvetica tilde gochujang celiac semiotics poutine vaporware. Marfa tofu fixie, semiotics dreamcatcher aesthetic kogi seitan iceland. YOLO small batch fingerstache chillwave, man braid four loko 8-bit semiotics lo-fi bicycle rights vexillologist. Freegan snackwave tilde green juice PBR&B.
        </p>
    </main>
</body>
</html>