<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Cocktail Variations</title>
</head>
<body>
    <h1>New Cocktail</h1>
    <form action="/cocktails" method="POST" id="recipe">
        <section class="cocktail"> 
            <label for="name">Name:<input type="text" name="name"></label>
            
            <label for="method">Method:
                <select name="method">
                    <option value="Stirred">Stirred</option>
                    <option value="Shaken">Shaken</option>
                    <option value="Built">Built</option>
                </select>
            </label>
            <fieldset class="recipeLine">
                <label for="measurement">Measure:
                    <input type="number" step="1" min="0" name="measurement" />
                </label>
                
                <label for="fraction">Fraction:
                    <select name="fraction">
                        <option value="">none</option>
                        <option value="&frac14;">&frac14;</option>
                        <option value="&frac12;">&frac12;</option>
                        <option value="&frac34;">&frac34;</option>
                    </select>
                </label>
               
                <label for="unit">Unit:
                    <select name="unit">
                        <option value="oz">oz</option>
                        <option value="ml">ml</option>
                        <option value="tablespoon">tablespoon</option>
                        <option value="teaspoon">teaspoon</option>
                        <option value="barspoon">barspoon</option>
                        <option value="dash">dash</option>
                    </select>
                </label>
                
                <label for="ingredient">Ingredient:
                    <input type="text" name="ingredient" />
                </label>
            </fieldset>
        </section>
        <div class="addLine">add line to recipe</div>
        <input type="submit" value="submit recipe">
    </form>
        
<script>
    const $cocktail = $('.cocktail');
    const $recipeLine = $('.recipeLine');
    
    const $addLine = $('.addLine');

    $addLine.on('click', handleAddLine);
    
    function handleAddLine() {
        console.log('add line');
        $cocktail.append($recipeLine.clone());
    }

</script>   
</body>
</html>