/* Global */

:root {
    font-size: 10px;
}

html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

/* STRUCTURE */
body {
  background: cornsilk;
  color: rgb(69, 66, 55);
  padding: 40px;
}


section {
  background:rgb(69, 66, 55);
  padding: 20px 10px;
}

.recipeLine {
  background: cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}

/* .recipeLine:last-of-type {
  margin-bottom: 0;
} */



input[type=submit] {  
  border: none;
  padding: 5px 10px;
}
label {
  color: cornsilk;
}

select, input {
  margin: 0 15px 0 5px;
}

.recipeLine > input {
  height: 20px;
  margin-left: 0;
}

.recipeLine label {
  color: rgb(69, 66, 55);
}

.addLine {
  background: white;
  display: inline-block;
  padding: 5px 20px;
}