@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}



body {
  padding: 40px;
  color: whitesmoke;
  font-family: 'Mulish', sans-serif;
}

header {
  margin-bottom: 20px;
}

h1,h2,h3 {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1 {
  font-size: 6.0rem;
}

h2 {
  font-size: 4.8rem;
  margin-bottom: -10px;
}

.interior {
  font-size: 3.6rem;
  margin-bottom: -10px;
}

h3 {
  margin-top: -3.2rem;
  font-size: 8.4rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: orange;
  text-decoration: none;
}

#authors {
  color: orange;
  font-size: 3.2rem;
}

#cocktails {
  color: purple;
  font-size: 3.2rem;
}

.plus {
  color: black;
  font-size: 2.4rem;
  margin-left: .5rem;
}

main p {
  background: #666;
  border: 1px solid black;
  padding: 10px 20px;
}

p {
  font-size: 1.4rem;

}

.topNav li {
  display: block;
  font-size: 1.6rem;

}

.topNav input {
  border: none;
  background: none;
  padding: 0;
  color: orange;
}

main > form {
  background: #666;
  border: 1px solid black;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

main > form > label {
  font-size: 1.4rem;
}

main > form > input {
  margin-bottom: 1.6rem;
  color: black;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

main > form > select {
  margin-bottom: 1.6rem;
  color: black;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  height: 4rem;

}

main > form > textarea {
  min-height: 4.8rem;
  margin-bottom: 1.6rem;
  color: black;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

main > form > input[type=submit] {
  background: orange;
  font-size: 1.6rem;
  height: 3.6rem;
  width: 160px;
  border: none;
  padding: 0;
}

main > form > p {
  background: white;
  color: black;
  margin: 0 0 15px 0;
}

main > form > h4 {
  font-size: 1.4rem;
  margin: 0 0 5px 0;
}

.index {
  margin-top: 0;
  margin-bottom: 3.2rem;
}

.index li {
  display: block;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.actions {
  background: orange;
  font-size: 1.6rem;
  width: 160px;
  color: black;
  padding: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

#cocktail-details {
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.6rem;

}

#cocktail-details input {
  color: black;
  padding: 10px 20px;
  font-size: 1.4rem;
}

#cocktail-details label {
  font-size: 1.4rem;
}

#cocktail-details section {
  display: flex;
  flex-direction: column;
}

.narrow {
  margin-right: 1.6rem;
}

#cocktail-notes {
  min-height: 12.0rem;
}


#cocktail-recipe label {
  font-size: 1.4rem;
  color: white;
}

#recipeLine {
  display: flex;
  justify-content: space-between;
}

#recipeLine div {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex-basis: 60px;
  color: black;
}

#recipe-ingredient {
  margin: 0;
  flex-grow: 3;
}

#recipeLine div > input, select {
  height: 2.4rem;
  font-size: 1.4rem;
}



#recipe-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#recipe-actions > div {
  background: purple;
  padding: 5px 10px;
  color: whitesmoke;
  font-size: 1.4rem;
}

#addLine {
  margin-right: 10px;
  background: purple;

}

#loseLine {
  background: purple;

}

.cocktails a {
  color: purple;
}

.cocktails input {
  color: purple;
}

#recipe-submit {
  background: purple;
  color: whitesmoke;
}

#recipe-actions {
  margin-top: 1rem;
}

#cocktail-recipe {
  margin-bottom: 2.4rem;
}

#cocktail-edit,
#cocktail-delete,
#cocktail-fork {
  background: purple;
  color: whitesmoke;
}

#show-ingredients {
  background: white;
  padding: 10px 20px;
}

#show-ingredients li {
  color: black;
  font-size: 1.4rem;
  display: block;
}