<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h2>Edit Person</h2>
        <form class="show-form people-bg" action="/people/<%= person._id %>?_method=PUT" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= person.name %>"/>
            <label for="about">About</label>
            <textarea name="about" id="about" ><%= person.about %></textarea>
            <input class="btn ingredients-bg text-light"type="submit" value="Update Person" />
        </form>

    </main>
</body>

</html>