<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <nav class="topNav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/ingredients">Ingredient Index</a>
                </li>
            </ul>
        </nav>
        <h2 class="interior">Forking Cocktails</h2>
    </header>
    <main>
        <h3>Add Ingredient</h3>
        <form action="/ingredients/<%=ingredient._id%>?_method=PUT" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%=ingredient.name%>"/>
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes"><%=ingredient.notes%></textarea>
            <input type="submit" value="Update Ingredient" />
        </form>
    </main>
</body>
</html>