<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <main>
        <header>
            <h1><span>forking</span> cocktails</h1>
            <nav>
                <a href="/ingredients/new">Add Ingredient</a>
                <form action="/ingredients?_method=DELETE" method="POST">
                    <input type="submit" value="delete all" />
                </form>
            </nav>
        </header>
        <section>
            <h2>Great Big Index of Cocktail Ingredients</h2>
            <ul>
                <% ingredients.forEach(ingredient => { %>
                    <li><a href="/ingredients/<%= ingredient._id %>"><%= ingredient.name %></a></li>
                <% }); %>
            </ul>
        </section> 
    </main>
</body>
</html>