<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h3>Add Ingredient</h3>
        <form action="/ingredients" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <label for="createdBy">Created By</label>
            <input type="text" name="createdByVisual" id="createdBy" value="<%=currentUser.name%>" />
            <input type="hidden" name="createdBy" value="<%=currentUser._id%>" />
            <label for="classification">Classification</label>
            <select name="classification" id="classification">
                <option value="Unclassified">Unclassified</option>
                <option value="Spirit">Spirit</option>
                <option value="Liqueur">Liqueur</option>
                <option value="Syrup">Syrup</option>
                <option value="Juice">Juice</option>
                <option value="Bitters">Bitters</option>
                <option value="Soda">Soda</option>
                <option value="Aromatized Wine">Aromatized Wine</option>
                <option value="Fortified Wine">Fortified Wine</option>
                <option value="Sparkling Wine">Sparkling Wine</option>
                <option value="Tincture">Tincture</option>
            </select>
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes"></textarea>
            <input id="ingredient-add" type="submit" value="Add Ingredient" />
        </form>
    </main>
</body>
</html>