<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forking Cocktails</title>
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Forking Cocktails</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/authors/new">Add a new Author</a>
                </li> 
                <li>
                    <form action="/authors/delete?_method=DELETE" method="POST">
                        <input type="submit" value="Delete All Authors">
                    </form>
                </li>
            </ul>
        </nav>
        <h1>Forking Cocktails</h1>
    </header>
    <main>
        <h2>Authors Index</h2>
        <ul>
            <% authors.forEach(function(author){ %>
                <li>
                    <a href="authors/<%=author._id%>"><%=author.name%></a>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>